.theme--light {
  --color_success_text: #3f6a00;
  --color_success_background: #d7e5ca;
  --color_success_border: #3f6a00;
  --color_rgb_success_text: 63,106,0;
  --color_rgb_success_background: 215,229,202;
  --color_rgb_success_border: 63,106,0;
  --color_warning_text: #b68600;
  --color_warning_background: #efe7ca;
  --color_warning_border: #b68600;
  --color_rgb_warning_text: 182,134,0;
  --color_rgb_warning_background: 239,231,202;
  --color_rgb_warning_border: 182,134,0;
  --color_danger_text: #993300;
  --color_danger_background: #f7d8cf;
  --color_danger_border: #993300;
  --color_rgb_danger_text: 153,51,0;
  --color_rgb_danger_background: 247,216,207;
  --color_rgb_danger_border: 153,51,0;
  --color_info_text: #117a9f;
  --color_info_background: #d7ebf5;
  --color_info_border: #117a9f;
  --color_rgb_info_text: 17,122,159;
  --color_rgb_info_background: 215,235,245;
  --color_rgb_info_border: 17,122,159;
  --color_auction_participant: #148c61;
  --color_auction_sell: #bdbdbd;
  --color_auction_own: mediumslateblue;
  --color_auction_private: mediumslateblue;
  --color_auction_archiving: #cccccc;
  --color_rgb_auction_archiving: 204,204,204;
  --color_rgb_auction_private: 123,104,238;
  --color_background--light: #f7f6f4;
  --color_border--light: #cbd6dc;
  --color_background: #ffffff;
  --color_border: #c4c8cc;
  --color_background--darker: #e1e3df;
  --color_border--darker: #8a8a8a;
  --color_rgb_background--light: 247,246,244;
  --color_rgb_background: 255,255,255;
  --color_rgb_background--darker: 225,227,223;
  --color_dark_background--light: #f7f6f4;
  --color_dark_border--ligth: #c7cdd3;
  --color_dark_background: #ffffff;
  --color_dark_border: #c7cdc7;
  --color_dark_background--darker: #e1e3df;
  --color_dark_border--darker: #a7a7a7;
  --color_rgb_dark_background--light: 247,246,244;
  --color_rgb_dark_border--ligth: 199,205,211;
  --color_rgb_dark_background: 255,255,255;
  --color_rgb_dark_border: 199,205,199;
  --color_rgb_dark_background--darker: 225,227,223;
  --color_rgb_dark_border--darker: 167,167,167;
  --color_button_text: #f5f5f5;
  --color_button_disabled_opacity: 0.8;
  --color_place_order: #b55600;
  --color_place_order--hover: #e27200;
  --color_place_order--active: #fcae00;
  --color_place_order_text: #1a1a1a;
  --color_create_auction: #7264bb;
  --color_create_auction_text: #1a1a1a;
  --color_create_auction--hover: #9589d8;
  --color_create_auction--active: #877bdd;
  --color_input_background: #f3f3f3;
  --color_input_background--selected: #dfe4e8;
  --color_input_background--disabled: #ebebeb;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #6b6b6b;
  --color_input_text--highlight: #185d54;
  --color_input_text--disabled: #a9a9a9;
  --color_input_border: #bfc8cd;
  --color_input_border--disabled: #d8d8d8;
  --color_input_group_background: #f3f3f3;
  --color_placeholder: #cccccc;
  --color_attribute_text: #000000;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 52.9,133.1,117.7676470588;
  --color_rgb_attribute_background_third: 80.8,105.2,100.5352941176;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #6b6b6b;
  --color_dropdown_group-border: #6b6b6b;
  --color_link: #c48f1d;
  --color_link--hover: #a67918;
  --color_link--active: #8f6e12;
  --color_rgb_link: 196,143,29;
  --color_rgb_link--hover: 166,121,24;
  --color_rgb_link--active: 143,110,18;
  --color_link_red: #83322f;
  --color_link_red--hover: #ed7a7a;
  --color_link_red--active: #ca5781;
  --color_rgb_link_red: 131,50,47;
  --color_rgb_link_red--hover: 237,122,122;
  --color_rgb_link_red--active: 202,87,129;
  --color_link_dimmed: #5c8f8a;
  --color_link_dimmed--hover: #81c8c3;
  --color_link_dimmed--active: #8a9bcf;
  --color_rgb_link_dimmed: 92,143,138;
  --color_rgb_link_dimmed--hover: 129,200,195;
  --color_rgb_link_dimmed--active: 138,155,207;
  --color_link_dimmed_red: rgb(179.8674157303, 68.6516853933, 64.5325842697);
  --color_link_dimmed_red--hover: rgb(240.6, 148.6, 148.6);
  --color_link_dimmed_red--active: #ca5781;
  --color_rgb_link_dimmed_red: 179.8674157303,68.6516853933,64.5325842697;
  --color_rgb_link_dimmed_red--hover: 240.6,148.6,148.6;
  --color_rgb_link_dimmed_red--active: 202,87,129;
  --color_md_code_background: #f0f4f8;
  --color_md_code_text: #2b6d4f;
  --color_rgb_md_code_background: #f0f4f8;
  --color_dark_md_code_background: #e2e2e2;
  --color_dark_md_code_text: #2b6d4f;
  --color_rgb_dark_md_code_background: 226,226,226;
  --color_sell: #a32970;
  --color_buy: #117a57;
  --color_price: #616161;
  --color_rgb_sell: 163,41,112;
  --color_rgb_buy: 17,122,87;
  --color_rgb_price: 97,97,97;
  --color_status-online: green;
  --color_status-ingame: mediumslateblue;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b55600;
  --color_highlight_text: #1a1a1a;
  --color_own--even: #b7a5ba;
  --color_own--odd: #a87b9c;
  --color_rgb_own--even: 183,165,186;
  --color_rgb_own--odd: 168,123,156;
  --color_modal_backdrop: 255, 255, 255;
  --color_tooltip_background: #d6dae1;
  --color_tooltip_border: #b4b4b4;
  --color_tooltip_text: #5a5a5a;
  --color_rgb_tooltip_background: 214,218,225;
  --color_text: #5a5a5a;
  --color_text_svg: red;
  --color_rgb_text: 90,90,90;
  --color_h1: #7b7b7b;
  --color_h2: #7b7b7b;
  --color_h3: #7b7b7b;
  --color_h4: #7b7b7b;
  --color_dark_text: #7a7a7a;
  --color_dark_h1: rgb(161.9, 161.9, 161.9);
  --color_dark_h2: rgb(148.6, 148.6, 148.6);
  --color_dark_h3: rgb(135.3, 135.3, 135.3);
  --color_dark_disclaimer: #a3a3a3;
}