.theme--dark {
    --color_link: #e9b823;
    --color_link--hover: #DBA400;
    --color_link--active: #FFBF00;
    --color_background--light: #0f0e0a;
    --color_background: #090805;
    --color_background--transparency: #09080580;
    --color_background--darker: #070605;
    --color_dark_background: var(--color_background);
    --color_dark_background--darker: var(--color_background--darker);
    --color_link_dimmed: #7d651c;
    --color_rgb_status-ingame: 85 196 97;
    --color_rgb_link--active:var(--color_link--active);

  --color_success_text: #4d8200;
  --color_success_background: #1c2b22;
  --color_success_border: #4d8200;
  --color_rgb_success_text: 77,130,0;
  --color_rgb_success_background: 28,43,34;
  --color_rgb_success_border: 77,130,0;
  --color_warning_text: #d69f00;
  --color_warning_background: #36311d;
  --color_warning_border: #d69f00;
  --color_rgb_warning_text: 214,159,0;
  --color_rgb_warning_background: 54,49,29;
  --color_rgb_warning_border: 214,159,0;
  --color_danger_text: #cc3000;
  --color_danger_background: #34201b;
  --color_danger_border: #cc3000;
  --color_rgb_danger_text: 204,48,0;
  --color_rgb_danger_background: 52,32,27;
  --color_rgb_danger_border: 204,48,0;
  --color_info_text: #17b7d2;
  --color_info_background: #132f38;
  --color_info_border: #17b7d2;
  --color_rgb_info_text: 23,183,210;
  --color_rgb_info_background: 19,47,56;
  --color_rgb_info_border: 23,183,210;
  --color_auction_participant: #1c8a62;
  --color_auction_sell: #909090;
  --color_auction_own: mediumpurple;
  --color_auction_private: mediumpurple;
  --color_auction_archiving: gray;
  --color_rgb_auction_archiving: 128,128,128;
  --color_rgb_auction_private: 147,112,219;
  --color_background--light: #0f0e0a;
  --color_border--light: #203137;
  --color_background: #090805;
  --color_border: #2d3437;
  --color_background--darker: #071013;
  --color_border--darker: black;
  --color_rgb_background--light: 15,14,10;
  --color_rgb_background: 9,8,5;
  --color_rgb_background--darker: 7,16,19;
  --color_dark_background--light: #11262b;
  --color_dark_border--ligth: #283235;
  --color_dark_background: #090805;
  --color_dark_border: #283235;
  --color_dark_background--darker: #071013;
  --color_dark_border--darker: #171e21;
  --color_rgb_dark_background--light: 17,38,43;
  --color_rgb_dark_border--ligth: 40,50,53;
  --color_rgb_dark_background: 9,8,5;
  --color_rgb_dark_border: 40,50,53;
  --color_rgb_dark_background--darker: 7,16,19;
  --color_rgb_dark_border--darker: 23,30,33;
  --color_button_text: #161e21;
  --color_button_disabled_opacity: 0.35;
  --color_place_order: #b53600;
  --color_place_order--hover: #e64400;
  --color_place_order--active: #ff8f00;
  --color_place_order_text: #f5f5f5;
  --color_create_auction: #8960db;
  --color_create_auction_text: #f5f5f5;
  --color_create_auction--hover: #b08cff;
  --color_create_auction--active: #9d92ff;
  --color_input_background: #121212;
  --color_input_background--selected: #121212;
  --color_input_background--disabled: #1d1d1d;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #abaeaf;
  --color_input_text--highlight: #19a187;
  --color_input_text--disabled: #565656;
  --color_input_border: #213138;
  --color_input_border--disabled: #2f2f2f;
  --color_input_group_background: #121212;
  --color_placeholder: #333;
  --color_attribute_text: white;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 53,133,118;
  --color_rgb_attribute_background_third: 81,105,101;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #abaeaf;
  --color_dropdown_group-border: #abaeaf;
  --color_link: #e9b823;
  --color_link--hover: #c7991b;
  --color_link--active: #b38612;
  --color_rgb_link: 233,184,35;
  --color_rgb_link--hover: 199,153,27;
  --color_rgb_link--active: 179,134,18;
  --color_link_red: #a52f31;
  --color_link_red--hover: #ff6969;
  --color_link_red--active: #c83383;
  --color_rgb_link_red: 165,47,49;
  --color_rgb_link_red--hover: 255,105,105;
  --color_rgb_link_red--active: 200,51,131;
  --color_link_dimmed: #7aa7a5;
  --color_link_dimmed--hover: #a3dddb;
  --color_link_dimmed--active: #acb8dd;
  --color_rgb_link_dimmed: 122,167,165;
  --color_rgb_link_dimmed--hover: 163,221,219;
  --color_rgb_link_dimmed--active: 172,184,221;
  --color_link_dimmed_red: rgb(211.5471698113, 102.4528301887, 104.3018867925);
  --color_link_dimmed_red--hover: #ffcfcf;
  --color_link_dimmed_red--active: #c83383;
  --color_rgb_link_dimmed_red: 212,102,104;
  --color_rgb_link_dimmed_red--hover: 255,207,207;
  --color_rgb_link_dimmed_red--active: 200,51,131;
  --color_md_code_background: #101619;
  --color_md_code_text: #39a57e;
  --color_rgb_md_code_background: #101619;
  --color_dark_md_code_background: black;
  --color_dark_md_code_text: #39a57e;
  --color_rgb_dark_md_code_background: 0,0,0;
  --color_sell: #cb4a9e;
  --color_buy: #209e70;
  --color_price: #bebebe;
  --color_rgb_sell: 203,74,158;
  --color_rgb_buy: 32,158,112;
  --color_rgb_price: 190,190,190;
  --color_status-online: darkgreen;
  --color_status-ingame: mediumpurple;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b53600;
  --color_highlight_text: #f5f5f5;
  --color_own--even: #2c2547;
  --color_own--odd: #382447;
  --color_rgb_own--even: 44,37,71;
  --color_rgb_own--odd: 56,36,71;
  --color_modal_backdrop: 3, 7, 8;
  --color_tooltip_background: #1b2432;
  --color_tooltip_border: black;
  --color_tooltip_text: #aab3b6;
  --color_rgb_tooltip_background: 27,36,50;
  --color_text: #919596;
  --color_text_svg: red;
  --color_rgb_text: 145,149,150;
  --color_h1: rgb(197.1860465116, 199.288372093, 199.8139534884);
  --color_h2: rgb(197.1860465116, 199.288372093, 199.8139534884);
  --color_h3: rgb(197.1860465116, 199.288372093, 199.8139534884);
  --color_h4: rgb(197.1860465116, 199.288372093, 199.8139534884);
  --color_dark_text: #aab3b6;
  --color_dark_h1: rgb(252.3101265823, 252.5949367089, 252.6898734177);
  --color_dark_h2: rgb(224.8734177215, 228.0632911392, 229.1265822785);
  --color_dark_h3: rgb(197.4367088608, 203.5316455696, 205.5632911392);
  --color_dark_disclaimer: #333d40;

/*# sourceMappingURL=dark-golden.css.map */

}

.header--B7qR2.size--profile--jsJYH {
    min-height: 40svh;
    margin-bottom: -135px;
}
.header--B7qR2 {
    background:url(https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3327760/ss_7fe65a910db0cdab15702b6258948afda615f42d.jpg) center;
    background-size: 1920px;
}
.avatar--XRd6o img {
    width: 150px;
    height: 150px;
}
.identity--EeUip {
    margin-left: 20px;
    margin-top: 20px;
}
.featuredAchievements--fImoM {
    margin-top: 20px;
}
.stats--ewQNV .row > * {
    margin-top: 20px;
}
.invisible--lYGnv {
    background: var(--color_background--transparency);
    padding: .5rem;
    border-radius: 1rem;
}
.createdAt--TO2th {
    position:absolute;
    right:20px;
}

.combobox--Nl36z ul.shift-1{
    background:var(--color_background--transparency);
    border-radius:0 1rem 0 1rem;
    border:none;
}


.combobox--Nl36z ul.shift-5 {
    background:var(--color_background--transparency);
    border-radius:0 1rem 0 1rem;
    border:none;
}
ul.online-switch--UKLjA{
    background:var(--color_background--transparency);
    border:none;
}
.input--nEyTr .real-input--rx3J_ input {
    background:var(--color_background--transparency);
    border-radius:1rem;
}

.combobox--Nl36z:hover .shift-1, .combobox--Nl36z:hover .shift-2 {
    transform: translate3d(0,112px,0);
}

.combobox--Nl36z:hover .shift-5, .combobox--Nl36z:hover .shift-6 {
    transform: translate3d(0,292px,0);
}

.combobox-text-entry--wWPCy {
    border-radius:0 1rem 0 1rem;
}

.order-unit__user-info--L4CqV {
    border-top:none;
}
.order-unit--GERZ4{
    background:var(--color_background--darker);
}
.order-unit--GERZ4 {
    border-radius:1rem;
    margin:1rem;
}

.show-more-box--kodEb {
    margin-top:4rem;
}
.ad__line--je1R0 .container {
    border-top:none;
}
.size--profile--jsJYH > .parallaxier--z0eZX {
    position:absolute !important;
    filter:none;
}
.size--most-recent--k7m_J > .parallaxier--z0eZX {
    position: relative !important;
    filter:blur(20px);
}

.header--B7qR2.size--by-content--w_708 {
    max-height:410px;
    min-height:410px;
}

.header--B7qR2.size--by-content--w_708 .header-body--L_d2q {
    margin-top:4rem;
}
.content__header--transparent--lrTCI {
    background: var(--color_background--transparency);
}
.separator--un5dI {
    border-left: none;
}
.btn {
    border-radius: 1rem;
}
.filter__buttons-horizontal--lJOPj button:nth-last-child(1), .filter__buttons-horizontal--lJOPj label:nth-last-child(1), .filter__buttons-horizontal--lJOPj button:nth-child(1), .filter__buttons-horizontal--lJOPj label:nth-child(1) {
    border-radius:1rem;
    margin:0 5px 0 0;
}
.btn__primary--L8HyD.activeWts--ZzByS.active {
    color:var(--color_highlight_text);
}
.listing__header--bQWlT {
    justify-content:center;
    border-bottom: 2px solid var(--color_background--light);
}
.order-type-marker--cHJF6.thicc--sMZO3 {
    padding:.5rem;
    border-radius:1rem;
    font-size: 14px;
    font-weight: bold;
}
.dropdown--l05xz {
    border-radius:1rem;
}
.dropdown--l05xz ul {
    border-bottom:none;
}
.action-button--wIg6B{
    background:var(--color_link);
    color:var(--color_button_text);
    border-left:none;
    margin-left:.5rem;
}
.search-field--m97oa {
    box-shadow: none;
}
.seeker--H546a {
    margin-right: 1rem;
    border-radius: 1rem;
    border: none;
    backdrop-filter: blur(40px);
    z-index:1000;
    background:var(--color_background--transparency);
}

.seeker--H546a.focused--QvkMD{
    border:2px solid var(--color_link--active);
}

.form-control--uQav7.focused--BUNqt, .form-control--uQav7:focus, .form-control--uQav7:has(input:focus){
    border:2px solid var(--color_link--active);
}

.form-group--Rtw_c .form-control--uQav7 {
    margin-left:0;
}

.header--B7qR2.size--item-page--iDDNT {
    min-height: 340px;
    max-height: 340px;
}

.form-group--Rtw_c .seeker--H546a {
    background:var(--color_background--light);
}

.form-control--uQav7.focused--BUNqt, .form-control--uQav7:focus, .form-control--uQav7:has(input:focus) {
    box-shadow: 0 0 0 .15rem rgb(var(--color_rgb_link--active));
}

.input--nEyTr {
    border-radius: 0.8rem;
    border: none;
    background: var(--color_background--transparency);
}

.sorting--bwYZH {
    margin-top: 1rem;
    border-radius: 1rem;
    border-bottom: none;
    background-color: var(--color_background--darker);
}

.form-control--uQav7 {
    border: none;
    border-radius: 1rem;
    margin-left: -1rem;
    background-color: var(--color_background--light)
}

.tabs--sFgcC {

    margin:1rem 0 1rem 0
}

.tabs--sFgcC li a.active,
.tabs--sFgcC li div.active {
    border-bottom: none;
    border-radius: 1rem;
    background-color: var(--color_link--active);
    color: #ffffff;
}
.content__header--transparent--lrTCI .link, .content__header--transparent--lrTCI .tooltip {
    color:var(--color_highlight_text)
}
.textarea-md-supported--Fbhsk {
    border-radius: 1rem;
    right: 22px;
}
.sidePanel--zvxd6 {
    border-left: none;
}

.content__header--second--CpY6V {
    box-shadow: none;
}

footer .footer__body .footer__language select,
footer .footer__body .footer__theme select {
    border-radius: 1rem;
}

.content__header--mFlr5 {
    background: var(--color_background--darker);
}

.menu--GTxoN {
    background: var(--color_background--transparency);
    backdrop-filter: blur(20px)
}

.menu-section--U34dF,
.platformsTitle--O2gxn,
.category--CWZpz,
.combobox--Nl36z,
.separator--un5dI,
.combobox-text-entry--wWPCy,
.combobox-title--I_acz {
    background: transparent;
}

.content-wrapper {
    padding-top: 0px;
}