/* ==UserStyle==
@name           Warframe Market live theme updater
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Live update user CSS themes from Sass watch.
@author         EroiiKZz
==/UserStyle== */

/* Theme: dark-base */

.theme--dark--base {
  --color_success_text: #4d8200;
  --color_success_background: #1c2b22;
  --color_success_border: #4d8200;
  --color_rgb_success_text: 77,130,0;
  --color_rgb_success_background: 28,43,34;
  --color_rgb_success_border: 77,130,0;
  --color_warning_text: #d69f00;
  --color_warning_background: #36311d;
  --color_warning_border: #d69f00;
  --color_rgb_warning_text: 214,159,0;
  --color_rgb_warning_background: 54,49,29;
  --color_rgb_warning_border: 214,159,0;
  --color_danger_text: #cc3000;
  --color_danger_background: #34201b;
  --color_danger_border: #cc3000;
  --color_rgb_danger_text: 204,48,0;
  --color_rgb_danger_background: 52,32,27;
  --color_rgb_danger_border: 204,48,0;
  --color_info_text: #17b7d2;
  --color_info_background: #132f38;
  --color_info_border: #17b7d2;
  --color_rgb_info_text: 23,183,210;
  --color_rgb_info_background: 19,47,56;
  --color_rgb_info_border: 23,183,210;
  --color_auction_participant: #1c8a62;
  --color_auction_sell: #909090;
  --color_auction_own: mediumpurple;
  --color_auction_private: mediumpurple;
  --color_auction_archiving: gray;
  --color_rgb_auction_archiving: 128,128,128;
  --color_rgb_auction_private: 147,112,219;
  --color_background--light: #171e21;
  --color_border--light: #203137;
  --color_background: #101619;
  --color_border: #2d3437;
  --color_background--darker: #071013;
  --color_border--darker: black;
  --color_rgb_background--light: 23,30,33;
  --color_rgb_background: 16,22,25;
  --color_rgb_background--darker: 7,16,19;
  --color_dark_background--light: #11262b;
  --color_dark_border--ligth: #283235;
  --color_dark_background: #171e21;
  --color_dark_border: #283235;
  --color_dark_background--darker: #071013;
  --color_dark_border--darker: #171e21;
  --color_rgb_dark_background--light: 17,38,43;
  --color_rgb_dark_border--ligth: 40,50,53;
  --color_rgb_dark_background: 23,30,33;
  --color_rgb_dark_border: 40,50,53;
  --color_rgb_dark_background--darker: 7,16,19;
  --color_rgb_dark_border--darker: 23,30,33;
  --color_button_text: #161e21;
  --color_button_disabled_opacity: 0.35;
  --color_place_order: #b53600;
  --color_place_order--hover: #e64400;
  --color_place_order--active: #ff8f00;
  --color_place_order_text: #f5f5f5;
  --color_create_auction: #8960db;
  --color_create_auction_text: #f5f5f5;
  --color_create_auction--hover: #b08cff;
  --color_create_auction--active: #9d92ff;
  --color_input_background: #121212;
  --color_input_background--selected: #121212;
  --color_input_background--disabled: #1d1d1d;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #abaeaf;
  --color_input_text--highlight: #19a187;
  --color_input_text--disabled: #565656;
  --color_input_border: #213138;
  --color_input_border--disabled: #2f2f2f;
  --color_input_group_background: #121212;
  --color_placeholder: #333;
  --color_attribute_text: white;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 52.9,133.1,117.7676470588;
  --color_rgb_attribute_background_third: 80.8,105.2,100.5352941176;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #abaeaf;
  --color_dropdown_group-border: #abaeaf;
  --color_link: #3c879c;
  --color_link--hover: #5ff5ff;
  --color_link--active: #1bb194;
  --color_rgb_link: 60,135,156;
  --color_rgb_link--hover: 95,245,255;
  --color_rgb_link--active: 27,177,148;
  --color_link_red: #a52f31;
  --color_link_red--hover: #ff6969;
  --color_link_red--active: #c83383;
  --color_rgb_link_red: 165,47,49;
  --color_rgb_link_red--hover: 255,105,105;
  --color_rgb_link_red--active: 200,51,131;
  --color_link_dimmed: #408698;
  --color_link_dimmed--hover: #a3dddb;
  --color_link_dimmed--active: #acb8dd;
  --color_rgb_link_dimmed: 64,134,152;
  --color_rgb_link_dimmed--hover: 163,221,219;
  --color_rgb_link_dimmed--active: 172,184,221;
  --color_link_dimmed_red: rgb(202.1471698113, 69.4528301887, 71.7018867925);
  --color_link_dimmed_red--hover: #ff8787;
  --color_link_dimmed_red--active: #c83383;
  --color_rgb_link_dimmed_red: 202.1471698113,69.4528301887,71.7018867925;
  --color_rgb_link_dimmed_red--hover: 255,135,135;
  --color_rgb_link_dimmed_red--active: 200,51,131;
  --color_md_code_background: #101619;
  --color_md_code_text: #39a57e;
  --color_rgb_md_code_background: #101619;
  --color_dark_md_code_background: black;
  --color_dark_md_code_text: #39a57e;
  --color_rgb_dark_md_code_background: 0,0,0;
  --color_sell: #cb4a9e;
  --color_buy: #209e70;
  --color_price: #bebebe;
  --color_rgb_sell: 203,74,158;
  --color_rgb_buy: 32,158,112;
  --color_rgb_price: 190,190,190;
  --color_status-online: darkgreen;
  --color_status-ingame: mediumpurple;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b53600;
  --color_highlight_text: #f5f5f5;
  --color_own--even: #2c2547;
  --color_own--odd: #382447;
  --color_rgb_own--even: 44,37,71;
  --color_rgb_own--odd: 56,36,71;
  --color_modal_backdrop: 3, 7, 8;
  --color_tooltip_background: #1b2432;
  --color_tooltip_border: black;
  --color_tooltip_text: #aab3b6;
  --color_rgb_tooltip_background: 27,36,50;
  --color_text: #919596;
  --color_text_svg: red;
  --color_rgb_text: 145,149,150;
  --color_h1: rgb(167, 170.2, 171);
  --color_h2: rgb(167, 170.2, 171);
  --color_h3: rgb(167, 170.2, 171);
  --color_h4: rgb(167, 170.2, 171);
  --color_dark_text: #aab3b6;
  --color_dark_h1: rgb(195.5, 201.8, 203.9);
  --color_dark_h2: rgb(187, 194.2, 196.6);
  --color_dark_h3: rgb(178.5, 186.6, 189.3);
  --color_dark_disclaimer: #333d40;
}

/* Theme: dark */

.theme--dark {
  --color_success_text: #4d8200;
  --color_success_background: #1c2b22;
  --color_success_border: #4d8200;
  --color_rgb_success_text: 77,130,0;
  --color_rgb_success_background: 28,43,34;
  --color_rgb_success_border: 77,130,0;
  --color_warning_text: #d69f00;
  --color_warning_background: #36311d;
  --color_warning_border: #d69f00;
  --color_rgb_warning_text: 214,159,0;
  --color_rgb_warning_background: 54,49,29;
  --color_rgb_warning_border: 214,159,0;
  --color_danger_text: #cc3000;
  --color_danger_background: #34201b;
  --color_danger_border: #cc3000;
  --color_rgb_danger_text: 204,48,0;
  --color_rgb_danger_background: 52,32,27;
  --color_rgb_danger_border: 204,48,0;
  --color_info_text: #17b7d2;
  --color_info_background: #132f38;
  --color_info_border: #17b7d2;
  --color_rgb_info_text: 23,183,210;
  --color_rgb_info_background: 19,47,56;
  --color_rgb_info_border: 23,183,210;
  --color_auction_participant: #1c8a62;
  --color_auction_sell: #909090;
  --color_auction_own: mediumpurple;
  --color_auction_private: mediumpurple;
  --color_auction_archiving: gray;
  --color_rgb_auction_archiving: 128,128,128;
  --color_rgb_auction_private: 147,112,219;
  --color_background--light: #0f0e0a;
  --color_border--light: #203137;
  --color_background: #090805;
  --color_border: #2d3437;
  --color_background--darker: #070604;
  --color_border--darker: black;
  --color_rgb_background--light: 15,14,10;
  --color_rgb_background: 9,8,5;
  --color_rgb_background--darker: 7,6,4;
  --color_dark_background--light: #11262b;
  --color_dark_border--ligth: #2c3e50;
  --color_dark_background: #090805;
  --color_dark_border: #283235;
  --color_dark_background--darker: #070604;
  --color_dark_border--darker: #171e21;
  --color_rgb_dark_background--light: 17,38,43;
  --color_rgb_dark_border--ligth: 44,62,80;
  --color_rgb_dark_background: 9,8,5;
  --color_rgb_dark_border: 40,50,53;
  --color_rgb_dark_background--darker: 7,6,4;
  --color_rgb_dark_border--darker: 23,30,33;
  --color_button_text: #161e21;
  --color_button_disabled_opacity: 0.35;
  --color_place_order: #b53600;
  --color_place_order--hover: #e64400;
  --color_place_order--active: #ff8f00;
  --color_place_order_text: #f5f5f5;
  --color_create_auction: #8960db;
  --color_create_auction_text: #f5f5f5;
  --color_create_auction--hover: #b08cff;
  --color_create_auction--active: #9d92ff;
  --color_input_background: #121212;
  --color_input_background--selected: #121212;
  --color_input_background--disabled: #1d1d1d;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #abaeaf;
  --color_input_text--highlight: #19a187;
  --color_input_text--disabled: #565656;
  --color_input_border: #213138;
  --color_input_border--disabled: #2f2f2f;
  --color_input_group_background: #121212;
  --color_placeholder: #333;
  --color_attribute_text: white;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 52.9,133.1,117.7676470588;
  --color_rgb_attribute_background_third: 80.8,105.2,100.5352941176;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #abaeaf;
  --color_dropdown_group-border: #abaeaf;
  --color_link: #e9b823;
  --color_link--hover: #c7991b;
  --color_link--active: #b38612;
  --color_rgb_link: 233,184,35;
  --color_rgb_link--hover: 199,153,27;
  --color_rgb_link--active: 179,134,18;
  --color_link_red: #a52f31;
  --color_link_red--hover: #ff6969;
  --color_link_red--active: #c83383;
  --color_rgb_link_red: 165,47,49;
  --color_rgb_link_red--hover: 255,105,105;
  --color_rgb_link_red--active: 200,51,131;
  --color_link_dimmed: #7aa7a5;
  --color_link_dimmed--hover: #a3dddb;
  --color_link_dimmed--active: #acb8dd;
  --color_rgb_link_dimmed: 122,167,165;
  --color_rgb_link_dimmed--hover: 163,221,219;
  --color_rgb_link_dimmed--active: 172,184,221;
  --color_link_dimmed_red: rgb(202.1471698113, 69.4528301887, 71.7018867925);
  --color_link_dimmed_red--hover: #ff8787;
  --color_link_dimmed_red--active: #c83383;
  --color_rgb_link_dimmed_red: 202.1471698113,69.4528301887,71.7018867925;
  --color_rgb_link_dimmed_red--hover: 255,135,135;
  --color_rgb_link_dimmed_red--active: 200,51,131;
  --color_md_code_background: #101619;
  --color_md_code_text: #39a57e;
  --color_rgb_md_code_background: #101619;
  --color_dark_md_code_background: black;
  --color_dark_md_code_text: #39a57e;
  --color_rgb_dark_md_code_background: 0,0,0;
  --color_sell: #cb4a9e;
  --color_buy: #209e70;
  --color_price: #bebebe;
  --color_rgb_sell: 203,74,158;
  --color_rgb_buy: 32,158,112;
  --color_rgb_price: 190,190,190;
  --color_status-online: darkgreen;
  --color_status-ingame: mediumpurple;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b53600;
  --color_highlight_text: #f5f5f5;
  --color_own--even: #2c2547;
  --color_own--odd: #382447;
  --color_rgb_own--even: 44,37,71;
  --color_rgb_own--odd: 56,36,71;
  --color_modal_backdrop: 3, 7, 8;
  --color_tooltip_background: #1b2432;
  --color_tooltip_border: black;
  --color_tooltip_text: #aab3b6;
  --color_rgb_tooltip_background: 27,36,50;
  --color_text: #919596;
  --color_text_svg: red;
  --color_rgb_text: 145,149,150;
  --color_h1: rgb(167, 170.2, 171);
  --color_h2: rgb(167, 170.2, 171);
  --color_h3: rgb(167, 170.2, 171);
  --color_h4: rgb(167, 170.2, 171);
  --color_dark_text: #aab3b6;
  --color_dark_h1: rgb(195.5, 201.8, 203.9);
  --color_dark_h2: rgb(187, 194.2, 196.6);
  --color_dark_h3: rgb(178.5, 186.6, 189.3);
  --color_dark_disclaimer: #333d40;
}

/* Theme: light-base */

.theme--light--base {
  --color_success_text: #4d8200;
  --color_success_background: #d5dec7;
  --color_success_border: #4d8200;
  --color_rgb_success_text: 77,130,0;
  --color_rgb_success_background: 213,222,199;
  --color_rgb_success_border: 77,130,0;
  --color_warning_text: #856404;
  --color_warning_background: #fff3cd;
  --color_warning_border: #856404;
  --color_rgb_warning_text: 133,100,4;
  --color_rgb_warning_background: 255,243,205;
  --color_rgb_warning_border: 133,100,4;
  --color_danger_text: #8a2800;
  --color_danger_background: #efd4c3;
  --color_danger_border: #8a2800;
  --color_rgb_danger_text: 138,40,0;
  --color_rgb_danger_background: 239,212,195;
  --color_rgb_danger_border: 138,40,0;
  --color_info_text: #0c5460;
  --color_info_background: #d1ecf1;
  --color_info_border: #0c5460;
  --color_rgb_info_text: 12,84,96;
  --color_rgb_info_background: 209,236,241;
  --color_rgb_info_border: 12,84,96;
  --color_auction_participant: #1c8a62;
  --color_auction_sell: #909090;
  --color_auction_own: mediumpurple;
  --color_auction_private: mediumpurple;
  --color_auction_archiving: gray;
  --color_rgb_auction_archiving: 128,128,128;
  --color_rgb_auction_private: 147,112,219;
  --color_background--light: white;
  --color_border--light: #eff3f3;
  --color_background: #f5f5f5;
  --color_border: #e1e6e6;
  --color_background--darker: #dedfdf;
  --color_border--darker: #c6cbcc;
  --color_rgb_background--light: 255,255,255;
  --color_rgb_background: 245,245,245;
  --color_rgb_background--darker: 222,223,223;
  --color_dark_background--light: #11262b;
  --color_dark_border--ligth: #283235;
  --color_dark_background: #171e21;
  --color_dark_border: #283235;
  --color_dark_background--darker: #071013;
  --color_dark_border--darker: #171e21;
  --color_rgb_dark_background--light: 17,38,43;
  --color_rgb_dark_border--ligth: 40,50,53;
  --color_rgb_dark_background: 23,30,33;
  --color_rgb_dark_border: 40,50,53;
  --color_rgb_dark_background--darker: 7,16,19;
  --color_rgb_dark_border--darker: 23,30,33;
  --color_button_text: #f5f5f5;
  --color_button_disabled_opacity: 0.65;
  --color_place_order: #b53600;
  --color_place_order--hover: #e64400;
  --color_place_order--active: #ff8f00;
  --color_place_order_text: #f5f5f5;
  --color_create_auction: #8960db;
  --color_create_auction_text: #f5f5f5;
  --color_create_auction--hover: #b08cff;
  --color_create_auction--active: #9d92ff;
  --color_input_background: white;
  --color_input_background--selected: #dedede;
  --color_input_background--disabled: #e9ecef;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #495057;
  --color_input_text--highlight: #19a187;
  --color_input_text--disabled: #495057;
  --color_input_border: #c6cbcc;
  --color_input_border--disabled: #c6cbcc;
  --color_input_group_background: #f8f8f8;
  --color_placeholder: #c1cacd;
  --color_attribute_text: white;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 52.9,133.1,117.7676470588;
  --color_rgb_attribute_background_third: 80.8,105.2,100.5352941176;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #495057;
  --color_dropdown_group-border: #495057;
  --color_link: #265663;
  --color_link--hover: #399ea5;
  --color_link--active: #19a187;
  --color_rgb_link: 38,86,99;
  --color_rgb_link--hover: 57,158,165;
  --color_rgb_link--active: 25,161,135;
  --color_link_red: #632626;
  --color_link_red--hover: #a52f31;
  --color_link_red--active: #a53162;
  --color_rgb_link_red: 99,38,38;
  --color_rgb_link_red--hover: 165,47,49;
  --color_rgb_link_red--active: 165,49,98;
  --color_link_dimmed: #408698;
  --color_link_dimmed--hover: #a3dddb;
  --color_link_dimmed--active: #acb8dd;
  --color_rgb_link_dimmed: 64,134,152;
  --color_rgb_link_dimmed--hover: 163,221,219;
  --color_rgb_link_dimmed--active: 172,184,221;
  --color_link_dimmed_red: rgb(152.9080291971, 58.6919708029, 58.6919708029);
  --color_link_dimmed_red--hover: rgb(202.1471698113, 69.4528301887, 71.7018867925);
  --color_link_dimmed_red--active: #a53162;
  --color_rgb_link_dimmed_red: 152.9080291971,58.6919708029,58.6919708029;
  --color_rgb_link_dimmed_red--hover: 202.1471698113,69.4528301887,71.7018867925;
  --color_rgb_link_dimmed_red--active: 165,49,98;
  --color_md_code_background: #f8f8f8;
  --color_md_code_text: #172b4d;
  --color_rgb_md_code_background: #f8f8f8;
  --color_dark_md_code_background: black;
  --color_dark_md_code_text: #39a57e;
  --color_rgb_dark_md_code_background: 0,0,0;
  --color_sell: #ab3e85;
  --color_buy: #1c8a62;
  --color_price: #404040;
  --color_rgb_sell: 171,62,133;
  --color_rgb_buy: 28,138,98;
  --color_rgb_price: 64,64,64;
  --color_status-online: darkgreen;
  --color_status-ingame: mediumpurple;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b53600;
  --color_highlight_text: #f5f5f5;
  --color_own--even: #e7e1f0;
  --color_own--odd: #f6f0ff;
  --color_rgb_own--even: 231,225,240;
  --color_rgb_own--odd: 246,240,255;
  --color_modal_backdrop: 26, 37, 40;
  --color_tooltip_background: #1b2432;
  --color_tooltip_border: black;
  --color_tooltip_text: #aab3b6;
  --color_rgb_tooltip_background: 27,36,50;
  --color_text: #617277;
  --color_text_svg: red;
  --color_rgb_text: 97,114,119;
  --color_h1: #34606c;
  --color_h2: rgb(60, 91.4285714286, 100);
  --color_h3: rgb(68, 86.8571428571, 92);
  --color_h4: rgb(68, 86.8571428571, 92);
  --color_dark_text: #aab3b6;
  --color_dark_h1: rgb(195.5, 201.8, 203.9);
  --color_dark_h2: rgb(187, 194.2, 196.6);
  --color_dark_h3: rgb(178.5, 186.6, 189.3);
  --color_dark_disclaimer: #333d40;
}

/* Theme: light */

.theme--light {
  --color_success_text: #3f6a00;
  --color_success_background: #d7e5ca;
  --color_success_border: #3f6a00;
  --color_rgb_success_text: 63,106,0;
  --color_rgb_success_background: 215,229,202;
  --color_rgb_success_border: 63,106,0;
  --color_warning_text: #b68600;
  --color_warning_background: #efe7ca;
  --color_warning_border: #b68600;
  --color_rgb_warning_text: 182,134,0;
  --color_rgb_warning_background: 239,231,202;
  --color_rgb_warning_border: 182,134,0;
  --color_danger_text: #993300;
  --color_danger_background: #f7d8cf;
  --color_danger_border: #993300;
  --color_rgb_danger_text: 153,51,0;
  --color_rgb_danger_background: 247,216,207;
  --color_rgb_danger_border: 153,51,0;
  --color_info_text: #117a9f;
  --color_info_background: #d7ebf5;
  --color_info_border: #117a9f;
  --color_rgb_info_text: 17,122,159;
  --color_rgb_info_background: 215,235,245;
  --color_rgb_info_border: 17,122,159;
  --color_auction_participant: #148c61;
  --color_auction_sell: #bdbdbd;
  --color_auction_own: mediumslateblue;
  --color_auction_private: mediumslateblue;
  --color_auction_archiving: #cccccc;
  --color_rgb_auction_archiving: 204,204,204;
  --color_rgb_auction_private: 123,104,238;
  --color_background--light: #f7f6f4;
  --color_border--light: #cbd6dc;
  --color_background: #ffffff;
  --color_border: #c4c8cc;
  --color_background--darker: #e1e3df;
  --color_border--darker: #8a8a8a;
  --color_rgb_background--light: 247,246,244;
  --color_rgb_background: 255,255,255;
  --color_rgb_background--darker: 225,227,223;
  --color_dark_background--light: #f7f6f4;
  --color_dark_border--ligth: #c7cdd3;
  --color_dark_background: #ffffff;
  --color_dark_border: #c7cdc7;
  --color_dark_background--darker: #e1e3df;
  --color_dark_border--darker: #a7a7a7;
  --color_rgb_dark_background--light: 247,246,244;
  --color_rgb_dark_border--ligth: 199,205,211;
  --color_rgb_dark_background: 255,255,255;
  --color_rgb_dark_border: 199,205,199;
  --color_rgb_dark_background--darker: 225,227,223;
  --color_rgb_dark_border--darker: 167,167,167;
  --color_button_text: #f5f5f5;
  --color_button_disabled_opacity: 0.8;
  --color_place_order: #b55600;
  --color_place_order--hover: #e27200;
  --color_place_order--active: #fcae00;
  --color_place_order_text: #1a1a1a;
  --color_create_auction: #7264bb;
  --color_create_auction_text: #1a1a1a;
  --color_create_auction--hover: #9589d8;
  --color_create_auction--active: #877bdd;
  --color_input_background: #f3f3f3;
  --color_input_background--selected: #dfe4e8;
  --color_input_background--disabled: #ebebeb;
  --color_input_inner_shadow: 0,0,0;
  --color_input_text: #6b6b6b;
  --color_input_text--highlight: #185d54;
  --color_input_text--disabled: #a9a9a9;
  --color_input_border: #bfc8cd;
  --color_input_border--disabled: #d8d8d8;
  --color_input_group_background: #f3f3f3;
  --color_placeholder: #cccccc;
  --color_attribute_text: #000000;
  --color_attribute_background_first: #19a187;
  --color_attribute_background_second: rgb(52.9, 133.1, 117.7676470588);
  --color_attribute_background_third: rgb(80.8, 105.2, 100.5352941176);
  --color_attribute_background_negative: #98392d;
  --color_rgb_attribute_background_first: 25,161,135;
  --color_rgb_attribute_background_second: 52.9,133.1,117.7676470588;
  --color_rgb_attribute_background_third: 80.8,105.2,100.5352941176;
  --color_rgb_attribute_background_negative: 152,57,45;
  --color_dropdown_group-name: #6b6b6b;
  --color_dropdown_group-border: #6b6b6b;
  --color_link: #c48f1d;
  --color_link--hover: #a67918;
  --color_link--active: #8f6e12;
  --color_rgb_link: 196,143,29;
  --color_rgb_link--hover: 166,121,24;
  --color_rgb_link--active: 143,110,18;
  --color_link_red: #83322f;
  --color_link_red--hover: #ed7a7a;
  --color_link_red--active: #ca5781;
  --color_rgb_link_red: 131,50,47;
  --color_rgb_link_red--hover: 237,122,122;
  --color_rgb_link_red--active: 202,87,129;
  --color_link_dimmed: #5c8f8a;
  --color_link_dimmed--hover: #81c8c3;
  --color_link_dimmed--active: #8a9bcf;
  --color_rgb_link_dimmed: 92,143,138;
  --color_rgb_link_dimmed--hover: 129,200,195;
  --color_rgb_link_dimmed--active: 138,155,207;
  --color_link_dimmed_red: rgb(179.8674157303, 68.6516853933, 64.5325842697);
  --color_link_dimmed_red--hover: rgb(240.6, 148.6, 148.6);
  --color_link_dimmed_red--active: #ca5781;
  --color_rgb_link_dimmed_red: 179.8674157303,68.6516853933,64.5325842697;
  --color_rgb_link_dimmed_red--hover: 240.6,148.6,148.6;
  --color_rgb_link_dimmed_red--active: 202,87,129;
  --color_md_code_background: #f0f4f8;
  --color_md_code_text: #2b6d4f;
  --color_rgb_md_code_background: #f0f4f8;
  --color_dark_md_code_background: #e2e2e2;
  --color_dark_md_code_text: #2b6d4f;
  --color_rgb_dark_md_code_background: 226,226,226;
  --color_sell: #a32970;
  --color_buy: #117a57;
  --color_price: #616161;
  --color_rgb_sell: 163,41,112;
  --color_rgb_buy: 17,122,87;
  --color_rgb_price: 97,97,97;
  --color_status-online: green;
  --color_status-ingame: mediumslateblue;
  --color_status-offline: darkred;
  --color_status-invis: darkgrey;
  --color_highlight: #b55600;
  --color_highlight_text: #1a1a1a;
  --color_own--even: #b7a5ba;
  --color_own--odd: #a87b9c;
  --color_rgb_own--even: 183,165,186;
  --color_rgb_own--odd: 168,123,156;
  --color_modal_backdrop: 255, 255, 255;
  --color_tooltip_background: #d6dae1;
  --color_tooltip_border: #b4b4b4;
  --color_tooltip_text: #5a5a5a;
  --color_rgb_tooltip_background: 214,218,225;
  --color_text: #5a5a5a;
  --color_text_svg: red;
  --color_rgb_text: 90,90,90;
  --color_h1: #7b7b7b;
  --color_h2: #7b7b7b;
  --color_h3: #7b7b7b;
  --color_h4: #7b7b7b;
  --color_dark_text: #7a7a7a;
  --color_dark_h1: rgb(161.9, 161.9, 161.9);
  --color_dark_h2: rgb(148.6, 148.6, 148.6);
  --color_dark_h3: rgb(135.3, 135.3, 135.3);
  --color_dark_disclaimer: #a3a3a3;
}

@-moz-document domain("warframe.market") {
  /* Custom rules */
}
