/* ==UserStyle==
@name           Warframe Market live theme updater
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Live update user CSS themes from Sass watch.
@author         EroiiKZz
==/UserStyle== */

@-moz-document domain("warframe.market") {
  /* Custom rules */
}
